@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  width: 100%;
  height: 100%;
  margin: 5px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #fff;
}

.wrapper {
  margin: 0 14vw;
  height: 100%;
}

.bouton {
  display: flex;
  background-color: #E3D56D;
  border-radius: 150px;
  padding: 10px;
  width: 200px;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.bouton a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.bouton2 {
  display: flex;
  background-color: #E3D56D;
  border-radius: 150px;
  padding: 10px;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.bouton2 a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.bouton2:active {
  background-color: #fff;
}

header {
  width: 100%;
  background-color: #1A0D43;
  height: fit-content;
}
header nav {
  padding: 10px;
  font-size: 32px;
}
header nav #burger-menu {
  display: none;
}
header nav ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(5, 1fr);
}
header nav ul .second {
  grid-column: 2;
}
header nav ul li {
  list-style: none;
  text-align: center;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  position: fixed;
}
header .home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  justify-content: center;
}
header .home img {
  margin-top: 25px;
  width: 36vw;
}
header .home .text {
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
}
header .home .text .compteur {
  display: flex;
  flex-direction: column;
}
header .home .text .compteur #demo {
  font-size: 48px;
}
header .home .text .compteur p {
  font-size: 32px;
}

main .Line-up {
  background-color: #EA224E;
  height: 100vh;
  width: 100%;
}
main .Line-up .lineup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .Line-up .lineup2 {
  height: 100vh;
  width: 33vw;
  color: white;
  background-color: #1A0D43;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .Line-up .lineup2 h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}
main .Line-up .lineup2 .img3 {
  padding-bottom: 50px;
  width: 300px;
}
main .Line-up .lineup2 .img4 {
  padding-top: 50px;
  padding-bottom: 15px;
}
main .Line-up .lineup2 .titrem {
  width: 100%;
}
main .Line-up .lineup2 .titrem h1, main .Line-up .lineup2 .titrem h2 {
  padding: 30px;
  text-align: center;
  font-size: 40px;
}
main .Line-up #lineup1, main .Line-up #lineup3 {
  background-color: #EA224E;
  width: auto;
}
main .Line-up #lineup1 h1, main .Line-up #lineup3 h1 {
  display: none;
}
main .Line-up #lineup1 h2, main .Line-up #lineup3 h2 {
  margin-top: 12.5vh;
}
main .activite {
  height: fit-content;
  background-color: #1A0D43;
  color: white;
}
main .activite h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 95px;
}
main .activite .activites {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .activite .activites h2 {
  font-size: 32px;
  text-align: center;
  padding: 15px;
}
main .activite .activites img {
  padding-bottom: 24px;
}
main .activite .activites p {
  font-size: 24px;
  padding: 12px;
}
main .activite .activites .bouton {
  margin-top: 24px;
  margin-bottom: 24px;
}
main .activite .activites .activite2 .bouton {
  margin-top: 72px;
}
main .Tickets {
  background-color: #EA224E;
  color: white;
  height: 100svh;
}
main .Tickets h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 95px;
  padding-bottom: 15px;
}
main .Tickets .ticket {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main .Tickets .ticket h2 {
  text-align: center;
  font-size: 40px;
}
main .Tickets .ticket img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  padding-top: 0;
  padding-bottom: 0;
}
main .Tickets .ticket .bouton2 {
  margin-top: 27vh;
  margin-bottom: 32px;
}
main .Tickets .ticket .fonct {
  display: flex;
  align-items: center;
}
main .Tickets .ticket .fonct p {
  margin: 0;
}
main .Tickets .ticket .fonct img {
  flex-basis: auto;
  padding-left: 10%;
  margin: 0;
  width: 15px;
  padding: 12px;
}
main .Tickets .ticket .ticket1 {
  width: 23vw;
  background-color: #1A0D43;
}
main .Tickets .ticket .ticket2 {
  width: 23vw;
  background-color: #1A0D43;
}
main .Tickets .ticket .ticket3 {
  width: 23vw;
  background-color: #1A0D43;
}
main .Tickets .ticket .ticket3 .bouton2 {
  margin-top: 19vh;
}
main .Infos {
  color: white;
  height: 70vh;
  background-color: #1A0D43;
}
main .Infos h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 95px;
}
main .Infos .infos {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
}
main .Infos .infos h2 {
  margin: auto;
  text-align: center;
  font-size: 32px;
}
main .Infos .infos .contact {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
}
main .Infos .infos .contact .contacts {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: right;
}
main .Infos .infos .contact .contacts img {
  margin: 0;
  padding-right: 7vh;
}
main .Infos .infos .contact .contacts p {
  font-size: 24px;
}
main .Infos .infos .lieux {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
  justify-content: center;
  margin: 0;
}
footer {
  width: 100%;
  background-color: #E3D56D;
  height: fit-content;
}
footer .sponsor {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  gap: 75px;
}
footer .footer3 {
  padding-top: 3vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
footer .footer3 .menuf {
  display: grid;
  justify-content: left;
  font-size: 16px;
  row-gap: 8px;
}
footer .footer3 .menuf a {
  text-decoration: none;
  color: black;
}
footer .footer3 .logof {
  margin-right: 24px;
}
footer .footer3 .iconf {
  display: flex;
  column-gap: 24px;
  justify-content: space-between;
}
footer p {
  text-align: center;
}

@media all and (max-width: 1194px) {
  .wrapper {
    margin: 0 24px;
  }
  header {
    width: 100%;
    height: fit-content;
  }
  header nav #burger-menu {
    display: flex;
    display: block;
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    overflow: visible;
    position: fixed;
    padding-left: 85vw;
    z-index: 2;
  }
  header nav #burger-menu span,
  header nav #burger-menu span:before,
  header nav #burger-menu span:after {
    background: #fff;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  header nav #burger-menu span:before,
  header nav #burger-menu span:after {
    content: "";
  }
  header nav #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }
  header nav #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  header nav #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }
  header nav #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  header nav #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  header nav #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }
  header nav #menu {
    z-index: 1;
    width: 105%;
    min-height: 100%;
    margin-left: -5%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  header nav #menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.5);
  }
  header nav #menu ul {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  header nav #menu ul li {
    list-style: none;
  }
  header nav #menu ul li a {
    color: #fff;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
    position: relative;
  }
  header .home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    padding: 0;
  }
  header .home img {
    transform: rotate(90deg);
    height: 80vw;
    width: auto;
  }
  header .home .text {
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 40px;
  }
  header .home .text .compteur {
    display: flex;
  }
  header .home .text .bouton {
    display: flex;
    background-color: #E3D56D;
    border-radius: 150px;
    padding: 10px;
    width: 200px;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  header .home .text .bouton a {
    text-decoration: none;
    color: black;
    font-size: 24px;
  }
  main .Line-up {
    height: fit-content;
  }
  main .Line-up .lineup {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
  }
  main .Line-up .lineup #lineup2 {
    width: 86vw;
  }
  main .Tickets {
    background-color: #1A0D43;
    color: white;
    height: fit-content;
  }
  main .Tickets h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 95px;
    padding-bottom: 15px;
  }
  main .Tickets .ticket {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  main .Tickets .ticket h2 {
    text-align: center;
    font-size: 40px;
  }
  main .Tickets .ticket img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    padding-bottom: 0;
  }
  main .Tickets .ticket .bouton2 {
    margin-top: 14vh;
    margin-bottom: 32px;
  }
  main .Tickets .ticket .fonct {
    display: flex;
    align-items: center;
  }
  main .Tickets .ticket .fonct p {
    margin: 0;
  }
  main .Tickets .ticket .fonct img {
    flex-basis: auto;
    padding-left: 10%;
    margin: 0;
    width: 15px;
    padding: 12px;
  }
  main .Tickets .ticket .ticket1 {
    width: 80vw;
    background-color: #1A0D43;
  }
  main .Tickets .ticket .ticket2 {
    width: 80vw;
    background-color: #1A0D43;
  }
  main .Tickets .ticket .ticket3 {
    width: 80vw;
    background-color: #1A0D43;
  }
  main .Tickets .ticket .ticket3 .bouton2 {
    margin-top: 8vh;
  }
  footer .sponsor {
    width: 100%;
    display: grid;
    grid-template-areas: "eri eri eri eri fwb fwb fwb fwb proxi proxi proxi proxi" "fuze fuze fuze fuze fuze fuze win win win win win win";
    align-items: center;
  }
  footer .sponsor #fuze {
    grid-area: fuze;
  }
  footer .sponsor #win {
    grid-area: win;
  }
  footer .sponsor #eri {
    grid-area: eri;
  }
  footer .sponsor #fwb {
    grid-area: fwb;
  }
  footer .sponsor #proxi {
    grid-area: proxi;
  }
}
@media all and (max-width: 1505px) {
  main .activite .activites {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  main .Infos {
    height: fit-content;
  }
  main .Infos .infos {
    grid-template-areas: "lieux lieux lieux lieux lieux lieux" "contact contact contact contact contact contact";
    justify-content: center;
  }
  main .Infos .infos .contact {
    grid-area: contact;
  }
  main .Infos .infos .lieux {
    grid-area: lieux;
  }
}
@media all and (min-width: 2130px) {
  header .home img {
    height: 90vh;
    width: auto;
  }
}
.titrefa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 95px;
  padding-bottom: 10vh;
}

.btn-g img {
  padding-top: 5px;
  margin-right: 0;
}
.btn-g a {
  font-size: 30px;
}

.btn-d img {
  padding-top: 5px;
  margin-right: 0;
}
.btn-d a {
  font-size: 30px;
}

#artiste {
  background-color: #1A0D43;
  height: 100vh;
  color: white;
}
#artiste .artiste {
  display: flex;
  gap: 5vw;
  padding-top: 5vh;
}
#artiste .artiste .logoa {
  display: flex;
}
#artiste .artiste .expl {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
#artiste .artiste .expl h2, #artiste .artiste .expl h3 {
  margin: 0;
}
#artiste .artiste .expl h2 {
  font-size: 40px;
}
#artiste .artiste .expl h3 {
  font-size: 32px;
}
#artiste .artiste .expl p {
  padding-top: 30px;
  font-size: 17px;
}

input {
  width: 70%;
  height: 60px;
  background-color: #E3D56D;
  border-radius: 150px;
}

#formulaire {
  background-color: #1A0D43;
  height: 100vh;
  color: white;
}
#formulaire h1 {
  padding-top: 95px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 40px;
}
#formulaire .formulaires h2 {
  margin-left: 15%;
  font-size: 30px;
}
#formulaire .formulaires input {
  margin-bottom: 5vh;
}
#formulaire .formulaires .formulaire {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#formulaire .formulaires .formulaire input {
  margin-bottom: 5vh;
}
#formulaire .formulaireText {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#formulaire .formulaireText input {
  height: 15vh;
  border-radius: 80px;
}
#formulaire .downMusic {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#formulaire .envoyer {
  width: 150px;
  margin-right: 5vh;
}



#acheter {
  background-color: #EA224E;
  color: white;
  height: 100vh;
}
#acheter .maina {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#acheter .maina .acheter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#acheter .maina .acheter p {
  width: 45%;
}
#acheter .maina .acheter .bouton2 {
  display: flex;
  align-items: center;
  background-color: #E3D56D; /* Bouton rouge par défaut */
  border-radius: 150px;
  padding: 10px;
  width: 250px;
  height: 50px;
  justify-content: center; /* Centrer horizontalement */
  position: relative;
  border: none; /* Supprimer la bordure */
  cursor: pointer;
}
#acheter .maina .acheter .bouton2.clicked {
  background-color: white; /* Bouton blanc après le clic */
}
#acheter .maina .acheter .bouton2 .text {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  color: black; /* Couleur du texte noir */
}
#acheter .maina .acheter .bouton2 .plus, #acheter .maina .acheter .bouton2 .minus {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: black; /* Couleur du texte noir */
  background-color: white; /* Fond blanc pour les signes */
  border-radius: 50%;
  cursor: pointer;
  display: none; /* Cachés au départ */
}
#acheter .maina .acheter .bouton2 .plus {
  order: 2; /* Position à droite */
  margin-left: auto; /* Pour pousser à droite */
}
#acheter .maina .acheter .bouton2 .minus {
  order: 1; /* Position à gauche */
  margin-right: auto; /* Pour pousser à gauche */
}
#acheter .maina .acheter .bouton2 .counter-display {
  font-size: 24px;
  color: black; /* Couleur du texte noir */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
