*{
    margin: 0 auto;
    padding: 0;
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    width:100%;
    height: 100%;
    margin: 5px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #fff;
}
.wrapper{
    margin: 0 14vw ;
    height: 100%;
}
.bouton{
    display: flex;
    background-color: #E3D56D;
    border-radius: 150px;
    padding: 10px;
    width: 200px;
    height: 80px;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        color: black;
        font-size: 24px;
        
    }
}
.bouton2{
    display: flex;
    background-color: #E3D56D;
    border-radius: 150px;
    padding: 10px;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        color: black;
        font-size: 24px;
        
    }
}
.bouton2:active{
    background-color: #fff;
}
header{
    width:100%;
    background-color: #1A0D43;
    height: fit-content;
    
    nav{
        padding: 10px;
        font-size:32px;
        #burger-menu{
            display: none;
        }
        ul{
            display: grid;
            list-style:none;
            grid-template-columns: repeat(5,1fr);
            
            
            .second{
                grid-column: 2;
            }
            li{
                list-style: none;
                text-align: center;
               
                a{
                    text-decoration: none;
                    color: white;
                    position: fixed;
                }
            }
        }
    }
    .home{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 20px;
        justify-content: center;
        img{
            margin-top: 25px;
            width: 36vw;
           
          
        }
        .text{
            display: grid;
            justify-content: center;
            align-items: center;
            color:white;
            .compteur{
                display: flex;
                flex-direction: column;
                #demo{

                    font-size: 48px;
                }
                p{
                    font-size: 32px;
                }
            }
           
        }  
         
    }

}
main{
    .Line-up{
        background-color: #EA224E;
        height: 100vh;
        width: 100%;
        
        
       
        .lineup{
            display: grid;
            grid-template-columns: repeat(3,1fr);   
            a {
                position: relative;
                display: inline-block;
                transition: all 0.3s ease;
        
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 50%;
                    background-color: rgba(0, 0, 0, 0.5); // Filtre semi-transparent
                    transition: all 0.3s ease;
                    opacity: 0;
                }
        
                &:hover::before {
                    opacity: 1;
                }
        
                img {
                    width: 100%;
                    height: auto;
                    transition: all 0.3s ease; // Transition douce pour les transformations
        
                    &.default {
                        height: 300px;
                        width: 300px;
                    }
        
                    &.small {
                        height: 150px;
                    }
        
                    &:hover {
                        height: 300px;
                    }
                }
        
                &:not(:hover) img {
                    height: 150px;
                }
        
                &:hover ~ a img,
                &:hover ~ a img.default {
                    height: 150px;
                }
            }   
            .lineup2{
               
                height:100vh;
                width: 33vw;
                color: white;
                background-color: #1A0D43;
                justify-content: center;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                
                
                
                h1{
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 5vh;
                    
                }
                .img3{
                    padding-bottom: 50px;
                    width: 300px;
                }
                .img4{
                    padding-top: 50px;
                    padding-bottom: 15px;
                }
                .titrem{
                    width: 100%;
                   
                    h1,h2{
                        padding: 30px;
                        text-align: center;
                        font-size: 40px;
                    }
                }
            }
            
            #lineup1,#lineup3{
                h1{
                    display: none;
                }
                background-color:#EA224E;
                width: auto;
                h2{
                    margin-top: 12.5vh;
                }
            }
        }
        
       
    }
    .activite{
        height: fit-content;
        background-color: #1A0D43;
        color: white;
        

        h1{
            font-size: 40px;
            text-align: center;
            padding-top: 95px;
        }
        .activites{
            height:90%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
           
            h2{
                font-size: 32px;
                text-align: center;
                padding: 15px;
            }
            img{
                padding-bottom:24px ;
            }
            p{
                font-size: 24px;
                padding: 12px;
            }
            .bouton{
                margin-top: 24px;
                margin-bottom: 24px;
            }
            .activite2{
                .bouton{
                    margin-top: 72px;
                }
            }
        }
        
    }
    .Tickets{
        background-color: #EA224E;
        color: white;
        height: 100svh;
        h1{
            text-align: center;
            font-size: 40px;
            padding-top: 95px;
            padding-bottom: 15px;
        }
        .ticket{
            height:80vh;
            display: flex;
            justify-content: space-between;
            width:100%;
            h2{
                text-align: center;
                font-size: 40px;
            }
            img{
                display: block;
                width:80%;
                margin-left: auto;
                margin-right: auto;
                padding: 32px;
                padding-top: 0;
                padding-bottom: 0;
            }
            .bouton2{
                margin-top: 27vh;
                margin-bottom: 32px;
            }
            .fonct{
                display: flex;
                align-items: center;
                p{
                    margin: 0;
                }
                img{
                    flex-basis: auto;
                    padding-left:10%;
                    margin: 0;
                    width: 15px;
                    padding: 12px;
                }
            }
            .ticket1{
              
                width: 23vw;
                
                background-color: #1A0D43;

            }
            .ticket2{
                
                
               
                width: 23vw;
               
                background-color: #1A0D43;
            }
            .ticket3{
              
                
                width: 23vw;
                background-color: #1A0D43;
                .bouton2{
                    margin-top: 19vh;
                }
            }
        }

    }
    .Infos{
        color: white;
        height: 70vh;
        background-color: #1A0D43;
        h1{
            font-size: 40px;
            text-align: center;
            padding-top: 95px;
        }
        .infos{
            height: 80%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            justify-content: space-between;
            h2{
                margin: auto;
                text-align: center;
                font-size: 32px;
            }
            .contact{
                
                display: flex;
                flex-direction: column;
                
                row-gap: 10vh;
                .contacts{
                    
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content:right ;
                    img{
                        margin: 0;
                        padding-right: 7vh;
                    }
                    p{
                        font-size: 24px;
                    }
                }
            }
            .lieux{
                display: flex;
                flex-direction: column;
                row-gap: 3vh;
                justify-content: center;
                margin: 0;
                iframe{
                    width: 35vw;
                }
                
            }
        }
    }
}
footer{
    width:100%;
    background-color: #E3D56D;
    height: fit-content;
    .sponsor{
        padding-top: 5px;
        display: flex;
        justify-content: center;
        gap: 75px;
    }
    .footer3{
        padding-top: 3vh;
        width: 100%;
        display: flex;
        
        align-items: end;
        .menuf{
           display: grid;
           justify-content: left;
           font-size: 16px;
           row-gap: 8px;
           a{

               text-decoration: none;
               color: black;
           }
        }
        .logof{
            margin-right: 24px;
        }
        .iconf{
            
            display: flex;
            column-gap: 24px;
            justify-content: space-between;
        }

    }
    p{
        text-align: center;
    }
}
  
@media all and (max-height: 1000px)   {
    main{
       
        .Infos{
            height: fit-content;
            .infos{
                grid-template-areas: 'lieux lieux lieux lieux lieux lieux'
                'contact contact contact contact contact contact';
                justify-content: center;
                .contact{
                    grid-area:contact;
                    #gmail{
                        margin-bottom: 15px;
                    }
                }
                .lieux{
                    grid-area: lieux;
                    iframe{
                        width: 75vw;
                    }
                    
                }
            }
        }
    }
    

}

@media all and (max-width: 1194px)    {
    .wrapper {
        margin: 0 24px;
    }

    header {
        width: 100%;
        height: fit-content;
        nav{

            #burger-menu {
                display: flex;
                display: block;
                cursor: pointer;
                height: 27px;
                width: 27px;
                margin: 50px;
                overflow: visible;
                position: fixed;
                
                //permet de fermer le menu quand on clique sur la barre de recherche
                z-index: 2;
               
            
                
                span,
                span:before,
                span:after {
                    background: #fff;
                    display: block;
                    height: 2px;
                    opacity: 1;
                    position: absolute;
                    transition: 0.3s ease-in-out;
                }
            
                span:before,
                span:after {
                    content: '';
                }
            
                // TOP
                span:before {
                    left: 0px;
                    top: -10px;
                    width: 27px;
                }
            
                // MIDDLE
                span {
                    right: 0px;
                    top: 13px;
                    width: 27px;
                }
            
                // BOTTOM
                span:after {
                    left: 0px;
                    top: 10px;
                    width: 27px;
                }
            
                // ROTATION ON CLICK
                &.close {
                    // TOP
                    span:before {
                        top: 0px;
                        transform: rotate(90deg);
                        width: 27px;
                    }
            
                    // MIDDLE
                    span {
                        transform: rotate(-45deg);
                        top: 13px;
                        width: 27px;
                    }
            
                    // BOTTOM
                    span:after {
                        top: 0px;
                        left: 0;
                        transform: rotate(90deg);
                        opacity: 0;
                        width: 0;
                    }
                }
            }
            
            #menu {
                z-index: 1;
                width: 105%;
                min-height: 100%;
                margin-left:-5%;
                position: fixed;
                top: 0;
                height: 0;
                visibility: hidden;
                opacity: 0;
                text-align: center;
                padding-top: 20px;
                
                transition: all 0.3s ease-in-out;
            
                &.overlay {
                    visibility: visible;
                    opacity: 1;
                    padding-top: 100px;
                    background: rgba(0, 0, 0, 0.5);
                }
            
                    ul {
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                        li {
                        list-style: none;
                        
                                a {
                                    color: #fff;
                                    display: block;
                                    font-size: 32px;
                                    margin-bottom: 30px;
                                    text-decoration: none;
                                    position: relative;
                                }

                        }
                    }
            
            }
            
        }
        
        .home {
            display: grid;
           
            grid-template-columns: repeat(1,1fr);
            justify-content:center;
            padding: 0;
            
            img {
               
                transform: rotate(90deg);
                height: 80vw;
                width:auto;
                
            }
            .text{
                display: grid;
                justify-content: center;
                align-items: center;
                color:white;
                gap: 40px;
                .compteur{
                    display: flex;
                }   
                .bouton{
                    display: flex;
                    background-color: #E3D56D;
                    border-radius: 150px;
                    padding: 10px;
                    width: 200px;
                    height: 80px;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 24px;
                        
                    }
                }
            }   
        }
    }

    main {
        .Line-up {
            height:fit-content;
            .lineup {
                grid-template-columns: repeat(1, 1fr);
                row-gap: 15px;
                #lineup2{
                    width: 86vw;
                }
            }

        }
        .activite{
            .activite1{
                display: flex;
                flex-direction: column;
                
                width:100%;
                img{
                    width: 80vw;
                }
                p{
                    margin: 0;
                }
            }
            .activite2{
                display: flex;
                flex-direction: column;
                
                width: 100%;
                p{

                    margin: 0;
                }
                img{
                    width: 80vw;
                }
            }
        }
        .Tickets{
            background-color:#1A0D43;
            color: white;
            height: fit-content;
            h1{
                text-align: center;
                font-size: 40px;
                padding-top: 95px;
                padding-bottom: 15px;
            }
            .ticket{
                height:fit-content;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width:100%;
                h2{
                    text-align: center;
                    font-size: 40px;
                }
                img{
                    display: block;
                    width:80%;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 32px;
                    padding-bottom: 0;
                }
                .bouton2{
                    margin-top: 14vh;
                    margin-bottom: 32px;
                }
                .fonct{
                    display: flex;
                    align-items: center;
                    p{
                        margin: 0;
                    }
                    img{
                        flex-basis: auto;
                        padding-left:10%;
                        margin: 0;
                        width: 15px;
                        padding: 12px;
                    }
                }
                .ticket1{
                  
                    width: 80vw;
                    
                    background-color: #1A0D43;
    
                }
                .ticket2{
                    
                    
                   
                    width: 80vw;
                   
                    background-color: #1A0D43;
                }
                .ticket3{
                  
                    
                    width: 80vw;
                    background-color: #1A0D43;
                    .bouton2{
                        margin-top: 8vh;
                        
                    }
                }
            }
    
        }
        .Infos{
            height: fit-content;
            .infos{
                grid-template-areas: 'lieux lieux lieux lieux lieux lieux'
                'contact contact contact contact contact contact';
                justify-content: center;
                .contact{
                    
                    grid-area:contact;
                    .contacts{
                        img{
                            padding-right: 2vh;
                        }
                        p{
                            font-size: 20px;
                        }
                    }
                    #gmail{
                        margin-bottom: 15px;
                    }
                }
                .lieux{
                    grid-area: lieux;
                    iframe{
                        width: 75vw;
                    }
                    
                }
            }
        }
        

    }
    footer{
        .sponsor{
            padding-top: 30px;
            width:100%;
            display: grid;
            column-gap: 2vh;
            grid-template-areas:
            'eri eri  fwb fwb proxi proxi '
            'fuze fuze fuze  win win win '  ;
            align-items: center;
            #fuze{
                grid-area: fuze;
            }
            #win{
                grid-area: win;
            }
            #eri{
                grid-area: eri;
            }
            #fwb{
                grid-area: fwb;
            }
            #proxi{
                grid-area: proxi;
            }
           
        }
        .footer3{
            height:50vh ;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-areas:"logof logof logof logof" 
            "menuf menuf iconf iconf";
            .menuf{
                grid-area: menuf;
                margin-right: 5vw;
            }
            .logof{
                grid-area: logof;
                
            }
            .iconf{
                grid-area: iconf;
                margin-left: 5vw;
            }
        }
    } 
} 
@media all and (max-width: 1505px){
    main{
        .activite{
            .activites{
                display: grid;
                grid-template-columns:repeat(1,1fr);
            }
        }
        
    }
    
} 
@media all and (min-width: 2130px){
    header{
        .home{
          img{
              height: 90vh;
              width: auto;
          }
        }
      }
    
}
///artiste//
/// 
/// 
///  
/// 
.titrefa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top:95px ;
    padding-bottom:10vh;
    
}
.btn-g{
           
    img{
        padding-top: 5px;
        margin-right: 0  ;
    }
    a{
        font-size: 30px;
    }
}
.btn-d{
   
    img{
        padding-top: 5px;
        margin-right: 0  ;
    }
    a{
        font-size: 30px;
    }
}
#artiste{
    background-color: #1A0D43;
    height: 100vh;
    color: white;
    
    .artiste{
        display: flex;
        gap: 5vw;
        padding-top:5vh ;
        .logoa{
            display: flex;
        }
        .expl{
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            h2,h3{
                margin: 0;
            }
            h2{
                font-size: 40px;
            }
            h3{
                font-size: 32px;
            }
            p{
                padding-top: 30px;
                font-size: 17px;
            }
        }
    }   
}
/////formulaire///
/// 
/// 
/// 
/// 
///
///  
input{
    width:70%;
    height: 60px;
    background-color: #E3D56D;
    border-radius: 150px;
}
#formulaire{
    background-color: #1A0D43;
    height: 100vh;
    color: white;
    h1{
        padding-top: 95px;
        padding-bottom: 50px;
        text-align: center;
        font-size: 40px;
    }
    .formulaires{
        h2{
            margin-left:15%; 
            font-size: 30px;
          }
        input{
                
            margin-bottom: 5vh;
        }
        .formulaire{
            width:100%;
            display: flex;
            flex-direction: column;
            
            
          
            input{
                
                margin-bottom: 5vh;
            }
        }
    }
    .formulaireText{
        width:100%;
        display: flex;
        flex-direction: column;
        input{
            height: 15vh;
            border-radius: 80px;
        }

    }
    .downMusic{
        width:100%;
        display: flex;
        flex-direction: column;

    }
    .envoyer{
        width:150px;
        margin-right: 5vh;
    }
}


////Acheter////
/// 
/// 
///
/// 
#counter-display {
margin-top: 20px;
font-size: 24px;
} 
#acheter{
    background-color: #EA224E;
    color: white;
    height: 100vh;
    .maina{
        height: 60vh;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;

       .acheter{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            width: 45%;
        }
        text-align: center;

        .bouton2 {
            display: flex;
            align-items: center;
            background-color: #E3D56D; /* Bouton rouge par défaut */
            border-radius: 150px;
            padding: 10px;
            width: 250px;
            height: 50px;
            justify-content: center; /* Centrer horizontalement */
            position: relative;
            border: none; /* Supprimer la bordure */
            cursor: pointer;

            &.clicked {
            background-color: white; /* Bouton blanc après le clic */
            }

            .text {
            flex-grow: 1;
            text-align: center;
            font-size: 18px;
            color: black; /* Couleur du texte noir */
            }

            .plus, .minus {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 20px;
            font-weight: bold;
            color: black; /* Couleur du texte noir */
            background-color: white; /* Fond blanc pour les signes */
            border-radius: 50%;
            cursor: pointer;
            display: none; /* Cachés au départ */
            }

            .plus {
            order: 2; /* Position à droite */
            margin-left: auto; /* Pour pousser à droite */
            }

            .minus {
            order: 1; /* Position à gauche */
            margin-right: auto; /* Pour pousser à gauche */
            }

            .counter-display {
            font-size: 24px;
            color: black; /* Couleur du texte noir */
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: none;
            margin: 0;
            }
            }
        } 
       
       } 
    }

